<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs', {inAdm: inAdm}) %>
<br>
<div class="container">
    <a href="/usuarios/novo" class="btn btn-primary">Novo Usuário</a>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            Usuários Cadastrados
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thread>
                    <th class="col-10">Usuario</th>
                    <th class="col-2">Ações</th>
                </thread>
                <tbody>
                    <% usuarios.forEach(usuario => { %>
                        <tr>
                            <td><%=usuario.email %></td>
                            <td>
                                <a href="/usuarios/<%= usuario.id %>" 
                                    class="btn btn-primary">Editar</a>
                                    <a href="/usuarios/delete/<%= usuario.id %>" 
                                        class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>