<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs', {inAdm: inAdm}) %>
<br>
<div class="container">
    <a href="/marcas/novo" class="btn btn-primary">Nova Marca</a>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            Marcas Cadastradas
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thread>
                    <th class="col-10">Marca</th>
                    <th class="col-2">Ações</th>
                </thread>
                <tbody>
                    <% marcas.forEach(marca => { %>
                        <tr>
                            <td><%=marca.descricao %></td>
                            <td>
                                <a href="/marcas/<%= marca.id %>" 
                                    class="btn btn-primary">Editar</a>
                                    <a href="/marcas/delete/<%= marca.id %>" 
                                        class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>